* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #F6F7F9;
}

h1,
h2,
h3 {
    font-family: "Merriweather", serif;
}

.categories-section {
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 1rem;
}

.categories-container ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.categories-container li {
    display: inline-block;
}

.categories-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid #F6ACB0;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.categories-container a:hover {
    background-color: #DEE5ED;
}

.categories-container a:active {
    background-color: #F6ACB0;
    color: white;
}

.categories-container a.active {
    background-color: #F6ACB0;
    color: white;
    border-color: #F6ACB0;
}

.categories-container a.active:hover {
    background-color: #F6ACB0;
}

/* Blog Section  */
.blog-section {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.blog-background {
    width: 80rem;
    height: 80rem;
    background: #DEE5ED;
    border-radius: 6.25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 blog posts per row */
    grid-gap: 2rem; /* Space between the blog posts */
    margin-bottom: 2rem;
}

.blog-card {
    width: 20rem;
    background: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.blog-card p {
    margin: 0.5rem 0;
}

.blog-card .date{
    font-size: 0.85;
    color: #666;
}

.button-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.read-more {
    background-color: #77AAD9;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #5c90b8;
}

.pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination a {
    background-color: white;
    color: black;
    border: 1px solid #EFA7A7;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}
.pagination a:hover{
    background-color: #DEE5ED;
}

.pagination .active {
    background-color: #EFA7A7;
    color: white;
}

.pagination span {
    padding: 0.5rem;
}